// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   width: 100%;
//   .box1 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: 2px solid black;
//     height: 90%;
//     width: 90%;
//     .box2 {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border: 2px solid blue;
//       height: 80%;
//       width: 80%;

//       .box3 {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         border: 2px solid black;
//         height: 60%;
//         width: 60%;
//         .box4 {
//           flex-direction: column;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           border: 2px solid black;
//           height: 40%;
//           width: 40%;
//           .item{
//             height: 50%;
//             width: 50%;
//             border: 2px solid red;
//           }
//         }
//       }
//     }
//   }
// }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  #fir,
  #sec {
    margin: 50px 50px;
    height: 500px;
    width: 500px;
  }
}
