.box {
  height: 100vh;
  width: 100%;
  border: 2px dotted black;
  display: flex;
  justify-content: center;
  align-items: center;
  .box1 {
    height: 80%;
    width: 80%;
    border: 2px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
    .box2 {
      height: 60%;
      width: 60%;
      border: 2px dotted black;
      display: flex;
      justify-content: center;
      align-items: center;
      .box3 {
        height: 40%;
        width: 40%;
        border: 2px dotted black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mini{height: 20%;
            width: 20%;
            border: 2px solid black;
        }
      }
    }
  }
}
