
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    #btn{
        display: flex;
    justify-content: center;
    align-items: center;
    }
    ._2{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid red;
        width: 80%;
        height: 80%;
        ._3{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 60%;
            border: 2px solid red;
            ._4{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 50%;
                border: 2px solid red;
                ._5{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    height: 30%;
                    border: 2px solid red;
                }
            }
        }
    }
}
